[Unit]
Description=MasterNodesME's distributed currency daemon
After=network.target

[Service]
User=masternodesme
Group=masternodesme

Type=forking
PIDFile=/var/lib/masternodesmed/masternodesmed.pid

ExecStart=/usr/bin/masternodesmed -daemon -pid=/var/lib/masternodesmed/masternodesmed.pid \
          -conf=/etc/masternodesme/masternodesme.conf -datadir=/var/lib/masternodesmed

ExecStop=-/usr/bin/masternodesme-cli -conf=/etc/masternodesme/masternodesme.conf \
         -datadir=/var/lib/masternodesmed stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
